<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false"/>
	</settings>
	<typeHandlers>
		<typeHandler javaType="java.sql.Blob" handler="com.ibm.jp.cis.fw.core.dao.lob.ex.CISBlobTypeHandler"/>
		<typeHandler javaType="java.sql.Clob" handler="com.ibm.jp.cis.fw.core.dao.lob.ex.CISClobTypeHandler"/>
	</typeHandlers>
	<environments default="product">
		<environment id="product">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/CISDataSource" />
				<!-- <property name="data_source" value="jdbc/CISDataSource" /> -->
			</dataSource>
		</environment>

		<environment id="refer">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/CISDataSourceRefer" />
			</dataSource>
		</environment>
	</environments>

	<mcom.umeers>
		<!-- 共通 -->
		<mcom.umeer resource="sql/cmt/comm.DBConnectionCheck.xml" />
		<!-- 自定義 -->
		<mcom.umeer resource="sql/cmt/custom.xml" />
		<mcom.umeer resource="sql/cmt/prototype.xml" />
		<!-- 自動生成-->
#foreach ( $dto in $dtos )
#if($dto.classPackage == "com.ibm.jp.cis.main.db.tbl")
		<mcom.umeer resource="sql/tbl/${dto.tblId}.xml" />
#elseif($dto.classPackage == "com.ibm.jp.cis.main.db.view")
		<mcom.umeer resource="sql/view/${dto.tblId}.xml" />
#end
#end

	</mcom.umeers>
</configuration>